.font-titles {
    color: #fff;
    font-family: 'Varela Round', sans-serif;
}

.logo {
    margin-top: -10px;
    width: 250px;
    height: 180px;
}

.name-user {
margin-left: 100px !important;
}


.search {
    flex-grow: 1;
}